<template name="main">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body class="container-fluid">
    <div class="row">
      <div class="col-sm-12 main">
        <h1>Todo's</h1>

        {{> yield}}
      </div>
    </div>
  </body>
</template>
