<template name="todo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group col-sm-4 col-sm-push-4">
          <input type="text" class="form-control" id="task" placeholder="Add task">
        </div>
      </div>
      <button id="add_task" class="btn btn-default">Add</button>

      {{#each tasks}}
        <div>Task: {{task}}</div>
        <div>Date: {{created}}</div>
        <div>{{#if isDone}}
              <button id="make_it_not_done" class="btn btn-default"><span style="color: green">Mark as not done</span></button>
            {{else}}
              <button id="make_it_done" class="btn btn-default"><span style="color: red">Mark as done</span></button>
            {{/if}}
        </div>
        <div><button id="delete_task" class="btn btn-default">Delete</button></div>
      {{/each}}
    </div>
  </div>
</template>
